<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Projeto Design Digital - Meu portfólio</title>
        <meta charset="utf-8">
        <meta name="author" content="Fernando">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="HTML, CSS e Javascript">
        <meta name="keywords" content="portfolio">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="static/normalize.css" type="text/css">
        <link rel="stylesheet" href="static/estilos.css" type="text/css">
    </head>

    <body>
        <header class="cabecalho">
            <div class="cabecalho-logo">
                <a href="index.html" title="Ciscorp">
                    <img src="imagens/logo.png" alt="Ciscorp" class="logotipo">
                </a>
            </div>

            <nav>
                <a href="#" class="menu">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="top-nav-links">
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre</a>
                    <a href="info.html">Outras informações</a>
                </div>
            </nav>
        </header>

        <main>
            <section class="cabecalho-sobre">
                <div class="conteudo-sobre">
                    <img src="imagens/profile_home.JPG">
    	
    	            <div class="texto-sobre">

    		            <p>Sobre mim</p>
    		            <p>Engenheiro da Computação</p>

    		            <p>Olá, meu nome é Fernando. Sou formado em Engenharia da Computação. Estou concluindo o curso de pós-graduação, especialização em desenvolvimento de software com metodologias ágeis.</p>
    		            <p>Desde 2004 exerci minha carreira profissional na área de Tecnologia da Informação como Analista de Suporte, atuando com infraestrutura de redes e servidores e gerenciamento de incidentes e problemas.</p>

    	            </div>
                 </div>
            </section>
        </main>
        
        <footer class="rodape">
            <div class="footer-flex">
                <p align="center "class="copyright">&copy; 2021 Ciscorp. Todos os direitos reservados.
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript" src="scripts/script.js"></script>
    </body>
</html>