.side {
    max-height: 20rem;
    max-width: 20rem;
  }

.picture {
    padding-top: 100%;
    position: relative;
    width: 100%;
  }
  
.picture-image {
    border-radius: 290486px;
    position: absolute;
  }

.picture-image {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

body {
    background-color: #93C178;
    font-family: sans-serif;
    font-size: 1em;
    color: #465C8B;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
}

@media screen and (max-width: 799px) {
    .side {
      margin-bottom: 3rem;
      width: 100%;
    }
}
  
@media screen and (min-width: 800px) {
    .side {
      flex-grow: 0;
      flex-shrink: 0;
      height: 20rem;
      margin-left: 4rem;
      order: 2;
      width: 20rem;
    }
}

.linha {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.coluna {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.coluna img {
  vertical-align: middle;
  margin-left: 250px;
  margin-top: 8px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .coluna {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .coluna {
    flex: 100%;
    max-width: 100%;
  }
}