.titulo {
    font-family: sans-serif;
    color: #465C8B;
    margin-left: 7%;
    align-content: center
}

.subtitulo {
    font-family: sans-serif;
    color: #465C8B;
    margin-left: 10%;
}

.info-img-portrait {
    width: 300px;
    height: 400px;
}

.info-img-land {
    width: 400px;
    height: 300px;
}

body {
    background-color: #93C178;
    font-family: sans-serif;
    font-size: 1em;
    color: #465C8B;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

h1 {
    text-align: left;
}

p {
    text-align: left;
}