<footer>
    <div class="row py-3">
        <div class="col-md-7">
            <ul class="nav">
                <li class="nav-item">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mídias Sociais</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://www.youtube.com/channel/UCQCML8H9vi8AVHiQySUKOhQ">Youtube</a>
                            <a class="dropdown-item" href="https://facebook.com/fernando.eto">Facebook</a>
                            <a class="dropdown-item" href="https://www.instagram.com/fernando.eto/">Instagram</a>
                            <a class="dropdown-item" href="https://twitter.com/FernandoEto">Twitter</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md text-md-right">
            <small>Ciscorp Tech. 2021.</small>
        </div>
    </div>
</footer>